<div    style="max-width: 100%; overflow-x: auto;"
        class="grid bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen overflow-hidden">
    <div class="sm:col-11 md:col-8 lg:col-6 xl:col-4">
        <app-configurator />
        <div class="w-full bg-surface-0 dark:bg-surface-900 py-4 px-4 sm:px-20 shadow-1" style="border-radius: 12px">
            <div class="grid">
                <div class="col-12 flex justify-content-center">
                    <img src="svg/minerva.svg" height="350">
                </div>
                <div class="col-12 flex justify-content-center">
                    <h2>Restablecer Contraseña</h2>
                </div>
                <div class="col-12 flex justify-content-center">
                    <p class="text-center text-surface-600 dark:text-surface-400">
                        Ingresa tu correo electrónico y te enviaremos instrucciones para restablecer tu contraseña.
                    </p>
                </div>
            </div>
            <form [formGroup]="resetPasswordForm" class="grid formgrid">
                <div class="col-12 field mb-4">
                    <label for="email" class="block text-surface-900 mb-2">Correo electrónico</label>
                    <input pInputText
                           id="email"
                           type="text"
                           placeholder="example@ues.edu.sv"
                           class="w-full mb-1"
                           formControlName="email" />
                    <div *ngIf="resetPasswordForm.get('email')?.invalid && (resetPasswordForm.get('email')?.dirty || resetPasswordForm.get('email')?.touched)">
                        <p-message  *ngIf="resetPasswordForm.hasError('required','email')"
                                    severity="error"
                                    variant="simple"
                                    size="small">
                            El correo electrónico es requerido
                        </p-message>
                        <p-message  *ngIf="resetPasswordForm.hasError('email','email')"
                                    severity="error"
                                    variant="simple"
                                    size="small">
                            El correo electrónico es inválido
                        </p-message>
                    </div>
                </div>
                <div class="col-12 py-2">
                    @if(failed === false){
                        <p-message severity="success" class="error-message-centered">
                            Hemos enviado un correo electronico con las instrucciones de restablecer tu contraseña. Por favor, revisa tu bandeja de entrada.
                        </p-message>
                    }
                    @if(failed === true){
                        <p-message severity="error" class="error-message-centered">
                            No se pudo procesar la solicitud. Por favor, inténtalo de nuevo.
                        </p-message>
                    }
                </div>
            </form>
            <div class="grid">
                <div class="col-12 mt-2">
                    <p-button   (onClick)="resetPasswordFn()"
                                [disabled]="httpLoading || resetPasswordForm.invalid"
                                label="Restablecer contraseña"
                                styleClass="w-full">
                    </p-button>
                </div>
                <div class="col-12">
                    <p-button   (onClick)="goToLogin()"
                                severity="secondary"
                                label="Regresar"
                                styleClass="w-full">
                    </p-button>
                </div>
            </div>
        </div>
    </div>
</div>
