<app-configurator />
<div class="layout-wrapper" *ngIf="!loadingPage" >
    <div class="layout-topbar">
        <div class="layout-topbar-logo-container">
            <a class="layout-topbar-logo" routerLink="/">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="120" height="120" fill="rgba(139,14,19,1)">
                    <path
                        d="M19.376 12.4161L8.77735 19.4818C8.54759 19.635 8.23715 19.5729 8.08397 19.3432C8.02922 19.261 8 19.1645 8 19.0658V4.93433C8 4.65818 8.22386 4.43433 8.5 4.43433C8.59871 4.43433 8.69522 4.46355 8.77735 4.5183L19.376 11.584C19.6057 11.7372 19.6678 12.0477 19.5146 12.2774C19.478 12.3323 19.4309 12.3795 19.376 12.4161Z"
                    ></path>
                </svg>
                <span class="up-nav-label">UESPLAY</span>
            </a>
        </div>
        <div class="layout-topbar-menu upl-layout-topbar-menu">
            <div class="layout-topbar-menu-content">
                <div class="app-layout-topbar-menu-item"
                     *ngFor="let item of resourceTypes">
                   <span    [ngClass]="{'active':item.typeId === selectedResourceType!.typeId}"
                            (click)="navigateToUrl(item)">
                            {{item.name}}
                   </span>
                </div>
            </div>
        </div>

        <div class="layout-topbar-actions">
            <div class="layout-topbar-menu hidden lg:block">
                <div class="layout-topbar-menu-content">
                    <button (click)="goToLogin()"
                            type="button"
                            class="layout-topbar-action">
                        <lucide-icon name="log-in"></lucide-icon>
                        <span>Iniciar sesion</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="up-layout-main-container">
        <div class="up-layout-main mb-5" style="overflow-x:hidden; ">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<div    *ngIf="loadingPage"
        class="flex justify-center align-content-center"
        style="padding-top: 20rem">
    <i class="pi pi-spin pi-spinner"></i>
</div>

