<div class="grid">
    <div class="col-6">
        <div class="rounded border p-3">
            <p-skeleton width="100%" styleClass="mb-1" height="2.5rem"/>
            <p-skeleton width="100%" styleClass="mb-1" height="2.5rem"/>
            <p-skeleton width="100%" styleClass="mb-1" height="2.5rem"/>
            <p-skeleton width="100%" styleClass="mb-1" height="2.5rem"/>
            <p-skeleton width="100%" styleClass="mb-1" height="2.5rem"/>
        </div>
    </div>
    <div class="col-6">
        <div class="rounded border p-3">
            <p-skeleton width="100%" styleClass="mb-1" height="2.5rem"/>
            <p-skeleton width="100%" styleClass="mb-1" height="2.5rem"/>
            <p-skeleton width="100%" styleClass="mb-1" height="2.5rem"/>
            <p-skeleton width="100%" styleClass="mb-1" height="2.5rem"/>
            <p-skeleton width="100%" styleClass="mb-1" height="2.5rem"/>
        </div>
    </div>
</div>
