<app-floating-configurator />
<div    style="max-width: 100%; overflow-x: auto;"
        class="grid bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen overflow-hidden">
    <div class="sm:col-11 md:col-8 lg:col-6 xl:col-4">
        <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20 shadow-1" style="border-radius: 12px">
            <div class="grid">
                <div class="col-12 flex justify-content-center">
                    <img src="svg/minerva.svg" height="350">
                </div>
                <div class="col-12 flex justify-content-center">
                    <h3>
                        <i class="pi pi-verified text-green-500 text-3xl" ></i>
                        Verificacion de cuenta</h3>
                </div>
                <div class="col-12 flex justify-content-center">
                    <p class="flex justify-content-center">
                        Para completar el proceso de activacion de tu cuenta,
                        porfavor ingresa una contrasenia
                    </p>
                </div>
            </div>
            <form   [formGroup]="loginForm"
                  class="grid formgrid" >

                <div class="col-12 field mb-4">
                    <label for="password1" class="block text-surface-900 dark:text-surface-0 font-medium text-lg mb-2">Contraseña</label>
                    <p-password [toggleMask]="true"
                                [fluid]="true"
                                [feedback]="false"
                                id="password"
                                formControlName="password"
                                placeholder="contraseña">
                    </p-password>
                    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.dirty || loginForm.get('password')?.touched">
                        <p-message  *ngIf="loginForm.hasError('required','password')"
                                    severity="error"
                                    variant="simple"
                                    size="small">Este campo es requerido</p-message>
                        <p-message  *ngIf="loginForm.hasError('minlength','password')"
                                    severity="error"
                                    variant="simple"
                                    size="small">El formato es invalido</p-message>
                    </div>
                </div>

                <div class="col-12 field mb-4">
                    <label for="password_confirmation" class="block text-surface-900 dark:text-surface-0 font-medium text-lg mb-2">Confirme su contraseña</label>
                    <p-password [toggleMask]="true"
                                [fluid]="true"
                                [feedback]="false"
                                id="password_confirmation"
                                formControlName="password_confirmation"
                                placeholder="contraseña">
                    </p-password>
                    <div *ngIf="loginForm.get('password_confirmation')?.invalid && loginForm.get('password_confirmation')?.dirty || loginForm.get('password_confirmation')?.touched">
                        <p-message  *ngIf="loginForm.hasError('required','password_confirmation')"
                                    severity="error"
                                    variant="simple"
                                    size="small">Este campo es requerido</p-message>
                        <p-message  *ngIf="loginForm.hasError('minlength','password_confirmation')"
                                    severity="error"
                                    variant="simple"
                                    size="small">El formato es invalido</p-message>
                    </div>
                </div>
            </form>
            <div class="grid">
                <div class="col-12 mt-4">
                    <p-button   (onClick)="verifyAccount()"
                                [disabled]="httpLoading || loginForm.invalid"
                                label="Verificar cuenta"
                                styleClass="w-full"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>


