<div class="grid">
    <div class="col-12">
        <div class="flex justify-end">
            <p-skeleton width="2rem" styleClass="mb-1" height="2rem"/>
        </div>
    </div>
    <div class="col-12">
            <p-skeleton width="100%" styleClass="mb-1" height="3rem"/>
            <p-skeleton width="100%" styleClass="mb-1" height="3rem"/>
            <p-skeleton width="100%" styleClass="mb-1" height="3rem"/>
            <p-skeleton width="100%" styleClass="mb-1" height="3rem"/>
            <p-skeleton width="100%" styleClass="mb-1" height="3rem"/>
    </div>
</div>
